/* styles */
/* called by your view template */

* {
  box-sizing: border-box;
}

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

form {
  border: 1px solid #222;
  padding: 16px 32px;
  margin: 16px 0px;
  display: inline-block;
  background-color: #EEE;
}

form > * {
  margin: 4px;
}

input {
  padding: 4px;
}

button {
  background-color: #FFF;
  padding: 4px;
  border: 1px solid #222;
  border-radius: 4px;
}
